* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --bg-color: #b5c99a;
  --text-color-dark: #414833;
  --text-color-light: #718355;
  --error: #bc4749;

  /* SHADOWS */
  --shadow: 9.91px 9.91px 15px #a5b78c, -9.91px -9.91px 15px #c5dba8;
  --shadow-inset: inset 9.91px 9.91px 15px #a5b78c,
    inset -9.91px -9.91px 15px #c5dba8;
  --small-shadow: 2px 2px 2px #a5b78c, -2px -2px 2px #c5dba8;
  --small-shadow-inset: inset 2px 2px 2px #a5b78c, inset -2px -2px 2px #c5dba8;

  /* sizes */
  --padding: 32px;
  --twice-padding: calc(var(--padding) * 2);
  --half-padding: calc(var(--padding) / 2);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  background: var(--bg-color);
  box-shadow: var(--shadow-inset);
}

::-webkit-scrollbar-thumb {
  border-radius: 0 10px 10px 0;
  background: var(--text-color-light);
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  gap: var(--padding);
  grid-template-rows: 100px 1fr;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: var(--padding) var(--twice-padding);
  color: var(--text-color-light);
}

.title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: var(--small-shadow);
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 600;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100px - 3 * var(--padding));
  gap: var(--padding);
}

.section {
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: var(--shadow);

  padding: var(--half-padding);

  overflow: auto;
}

.section__title {
  text-align: center;
  text-shadow: var(--small-shadow);
  font-weight: 500;
}

.section::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 0 10px 10px 0;
}

.btn {
  color: var(--text-color-dark);
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  background: var(--bg-color);
  box-shadow: var(--small-shadow);

  border: none;
  cursor: pointer;
}

.btn:active {
  box-shadow: var(--small-shadow-inset);
}

form {
  display: none;
  grid-template-columns: 3fr 2fr;
  gap: var(--padding);
  padding: var(--padding);

  height: calc(100vh - var(--twice-padding));
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: var(--text-color-dark);

  overflow: auto;
}

form .left,
form .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

form label {
  margin-top: var(--half-padding);
}

form input {
  background-color: #e9f5db;
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid var(--text-color-light);
  border-radius: 3px;
}

form input:focus {
  outline: 2px solid var(--text-color-light);
}

form input.invalid {
  border: 1px solid var(--error);
}

form .error-msg {
  color: var(--error);
  font-size: 14px;
  font-weight: 600;
}

form .right {
  gap: 40px;
  align-items: center;
}

form .right > * {
  width: 80%;
}

.right button {
  height: var(--padding);
  box-shadow: var(--shadow);
}

.right button:disabled {
  box-shadow: var(--small-shadow);
  cursor: default;
}

.right button:enabled:active {
  box-shadow: var(--shadow-inset);
}

form input[type="radio"] {
  position: relative;
  appearance: none;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 1px solid var(--text-color-dark);
  border-radius: 50%;
}

form input[type="radio"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--text-color-dark);
  scale: 0;
  translate: -1px -1px;
  transition: 0.3s ease-in-out;
}

form input[type="radio"]:checked::before {
  scale: 1;
}

form input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 1px solid var(--text-color-dark);
}

form input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  padding: 0;
  background-color: var(--text-color-dark);
  scale: 0;
  translate: -1px -1px;
  transition: 0.3s ease-in-out;
}

form input[type="checkbox"]:checked::before {
  scale: 1;
}

.order-completed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);

  height: calc(100vh - var(--twice-padding));
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: var(--text-color-dark);

  overflow: auto;
}

.order-completed h2 {
  font-weight: 600;
}

.order-completed span {
  font-weight: 600;
}
