* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --bg-color: #b5c99a;
  --text-color-dark: #414833;
  --text-color-light: #718355;

  /* SHADOWS */
  --shadow: 9.91px 9.91px 15px #a5b78c, -9.91px -9.91px 15px #c5dba8;
  --shadow-inset: inset 9.91px 9.91px 15px #a5b78c,
    inset -9.91px -9.91px 15px #c5dba8;
  --small-shadow: 2px 2px 2px #a5b78c, -2px -2px 2px #c5dba8;
  --small-shadow-inset: inset 2px 2px 2px #a5b78c, inset -2px -2px 2px #c5dba8;

  /* sizes */
  --padding: 32px;
  --twice-padding: calc(var(--padding) * 2);
  --half-padding: calc(var(--padding) / 2);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  background: var(--bg-color);
  box-shadow: var(--shadow-inset);
}

::-webkit-scrollbar-thumb {
  border-radius: 0 10px 10px 0;
  background: var(--text-color-light);
}

button {
  color: var(--text-color-dark);
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  background: var(--bg-color);
  box-shadow: var(--small-shadow);

  border: none;
  cursor: pointer;
}

button:active {
  box-shadow: var(--small-shadow-inset);
}

.exit {
  position: relative;

  height: 20px;
  width: 20px;

  cursor: pointer;
}

.exit .line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  height: 2px;
  width: 20px;
  background-color: var(--bg-color);
  rotate: 45deg;
}

.exit .line:nth-child(2) {
  rotate: -45deg;
}

.exit:hover .line {
  background-color: white;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  gap: var(--padding);
  grid-template-rows: 100px 1fr;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: var(--padding) var(--twice-padding);
  color: var(--text-color-light);
}

h1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-shadow: var(--small-shadow);
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100px - 3 * var(--padding));
  gap: var(--padding);
}

section {
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: var(--shadow);

  padding: var(--half-padding);

  overflow: auto;
}

section h2 {
  text-align: center;
  text-shadow: var(--small-shadow);
  font-weight: 500;
}

section::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
}

section::-webkit-scrollbar-thumb {
  border-radius: 0 10px 10px 0;
}

.book-catalog .book {
  height: 320px;
  margin-top: var(--half-padding);
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow-inset);

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-catalog .book .cover {
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
}

.book-catalog .book .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  color: var(--text-color-dark);
}

.book-catalog .book .info .author {
  font-size: 15px;
  font-weight: 400;
}

.book-catalog .book .info h3 {
  font-size: 18px;
  font-weight: 600;
}

.book-catalog .book .info .price {
  font-size: 16px;
  flex-grow: 1;
}

.book-catalog .book .info button {
  margin-top: 5px;
  flex-basis: var(--padding);
}

.popup {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 500px;
  background-color: var(--text-color-light);
  border-radius: 10px;
}

.popup.active {
  display: block;

  color: var(--bg-color);
  padding: var(--padding);
}

.popup .exit {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
}

.popup .description {
  margin-right: var(--padding);
  margin-top: var(--padding);
}

section.order-book {
  position: relative;
  display: flex;
  flex-direction: column;
}

.order-book .bag {
  flex-grow: 1;

  margin-top: var(--half-padding);
  padding: var(--half-padding);
  box-shadow: var(--shadow-inset);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: auto;
}

.order-book .book {
  position: relative;
  color: var(--text-color-dark);
  border-top: 1px solid var(--text-color-light);
  padding: 15px 50px 15px 60px;
}

.order-book .book:nth-child(1) {
  border: none;
}

.order-book .price {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: var(--half-padding);
  font-weight: 500;
}

.order-book .title {
  font-weight: 500;
}

.order-book .author {
  font-weight: 300;
  font-size: 14px;
}

.order-book .exit {
  position: absolute;
  top: 50%;
  right: var(--half-padding);
  translate: 0 -50%;
}

.order-book .exit .line {
  background-color: var(--text-color-light);
}

.order-book .exit:hover .line {
  background-color: var(--text-color-dark);
}

.order-book .summary {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 2px solid var(--text-color-light);
  padding-top: var(--half-padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-top: var(--half-padding);
  background-color: var(--bg-color);

  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 18px;
}

.order-book .summary button {
  padding: 0 var(--half-padding) 0;
  height: var(--padding);
  font-size: 17px;
}

/* h1,
main {
  display: none;
} */

form {
  display: none;
  /* display: grid; */
  grid-template-columns: 3fr 2fr;
  gap: var(--padding);
  padding: var(--padding);

  height: calc(100vh - var(--twice-padding));
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: var(--text-color-dark);

  overflow: auto;
}

form .left,
form .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

form label {
  margin-top: var(--half-padding);
}

form input {
  background-color: #e9f5db;
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid var(--text-color-light);
  border-radius: 3px;
}

form input:focus {
  outline: 2px solid var(--text-color-light);
}

form input.invalid {
  border: 1px solid red;
}

form .right {
  gap: 40px;
  align-items: center;
}

form .right > * {
  width: 80%;
}

.right button {
  height: var(--padding);
}

.right button:disabled {
  box-shadow: var(--small-shadow);
  cursor: default;
}
