.order-book {
  position: relative;
  display: flex;
  flex-direction: column;
}

.order-book__bag {
  flex-grow: 1;

  margin-top: var(--half-padding);
  padding: var(--half-padding);
  box-shadow: var(--shadow-inset);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: auto;
}

.order-book__book {
  position: relative;
  color: var(--text-color-dark);
  border-top: 1px solid var(--text-color-light);
  padding: 15px 50px 15px 60px;
}

.order-book__book:nth-child(1) {
  border: none;
}

.book__price {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: var(--half-padding);
  font-weight: 500;
}

.book__title {
  font-weight: 500;
}

.book__author {
  font-weight: 300;
  font-size: 14px;
}

.book__remove-btn {
  position: absolute;
  top: 50%;
  right: var(--half-padding);
  translate: 0 -50%;
}

.book__remove-btn .exit-btn__line {
  background-color: var(--text-color-light);
}

.book__remove-btn:hover .exit-btn__line {
  background-color: var(--text-color-dark);
}

.order-book__summary {
  height: 80px;

  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 2px solid var(--text-color-light);
  padding-top: var(--half-padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-top: var(--half-padding);
  background-color: var(--bg-color);

  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 18px;
}

.summary__confirm-btn {
  padding: 0 var(--half-padding) 0;
  height: var(--padding);
  font-size: 17px;
}
